<div class="wrap">
	<header>
		<div class="header-wrap">
			<div class="header-box"></div>
		</div>
	</header>
	<div class="sub-container">
		<div class="sub-visual-wrap">
			<div class="sub-visual-box cms-sub-content"></div>
		</div>
		<div class="path-wrap">
			<div class="path-box cms-sub-content"></div>
		</div>
		<div class="content-wrap">
			<div class="title-box cms-sub-content"></div>
			<div class="sub-content" id="cms-content"></div>
		</div>
	</div>
	<footer>
		<div class="footer-wrap">
			<div class="footer-box"></div>
		</div>
	</footer>
</div>
